/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-nov-2017, 14:05:31
    Author     : hwkei
*/

/* Layout for menu */

#menu {
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 3px #333333;
    background-color: #4CAF50;
    border-radius: 8px;    
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: #F90;

}