/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-nov-2017, 14:05:31
    Author     : hwkei
*/

/* Layout for menu */
.navbar {
    overflow: hidden;
    background-color: #4CAF50;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3c893f;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Layout for formfields */

.formfields {
    display: block;
    width: 340px;
    margin: 4px;
}

.formfields input {
    display: inline-block;
    float: right;
    margin: 4px;
}

.formfields label {
    display: inline-block;
    float: left;
    width: 150px;
    text-align: left;
    margin: 4px;
}

.formfields .button {
    background-color: #4CAF50;
    width: 145px;
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    font-size: 16px;
}

.formfields .button_panel {
    display: block;
    margin-top: 10px;
    float: right;
}

/* layout for content */
#content {
    clear: both;
}

#center {
    text-align: center;
}
