/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-sep-2017, 21:18:27
    Author     : hwkei
*/

/* standard table view */


table {
	width: 80%;
        margin-left: auto;
        margin-right: auto;
	border: 1px solid #4CAF50;
	text-align: left;
        border-collapse: collapse; }

th {
	font-weight: bold;
	background-color: #4CAF50;
	border-bottom: 1px solid #4CAF50; }
      
td,th  {
	padding: 4px 5px; }

table, th, td {
   border: 1px solid #4CAF50;
}


/* home page image and tittle */
.homepage-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}




.error, .errors {
    color: red;
}

.red {
    background-color: lightcoral;
}

.small {
    width: 32px;
}

/* Tabellen details */
.customers {

    width: 600px;
}

.firstcol {
    width: 300px;
}
